In [1]:
import pandas as pd

In [2]:
pd.__version__

'2.1.4'

# Pandas Series with Python Lists

In [3]:
lst = [1, 2, 3, 4, 5, 6]
print(lst)

[1, 2, 3, 4, 5, 6]

In [4]:
series = pd.Series(lst)
print(series)
print(type(series))

0    1
1    2
2    3
3    4
4    5
5    6
dtype: int64
<class 'pandas.core.series.Series'>

In [7]:
empty = pd.Series([])
empty

Series([], dtype: object)

In [11]:
a = pd.Series(['p', 'q', 'r', 's', 't'], index = [10, 11, 12, 13, 14])
a

10    p
11    q
12    r
13    s
14    t
dtype: object

In [12]:
a = pd.Series(['p', 'q', 'r', 's', 't'], index = [10, 11, 12, 13, 14], name = 'alphabets')
a

10    p
11    q
12    r
13    s
14    t
Name: alphabets, dtype: object

In [13]:
scalar_series = pd.Series(0.5)
scalar_series

0    0.5
dtype: float64

In [14]:
scalar_series = pd.Series(0.5, index = [1, 2, 3])
scalar_series

1    0.5
2    0.5
3    0.5
dtype: float64

# Pandas Series with Python Dictionary

In [15]:
dict_series = pd.Series({'p': 1, 'q': 2, 'r': 3, 's': 4, 't': 5
})
dict_series

p    1
q    2
r    3
s    4
t    5
dtype: int64

In [20]:
dict_series.iloc[0]

1

In [23]:
dict_series[0:3]

p    1
q    2
r    3
dtype: int64

In [24]:
max(dict_series)

5

In [25]:
dict_series = pd.Series({'p': [1, 5, 6], 'q': [2, 6, 7], 'r': [3, 9, 0], 's': [4, 4, 5], 't': [5, 1, 2]
})
dict_series

p    [1, 5, 6]
q    [2, 6, 7]
r    [3, 9, 0]
s    [4, 4, 5]
t    [5, 1, 2]
dtype: object

*** Part 2 ***

# Pandas Dataframe

In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame()
print(df)

Empty DataFrame
Columns: []
Index: []

# dataframe using List

In [3]:
lst = [1, 2, 3, 4, 5]
df = pd.DataFrame(lst)
print(df)

   0
0  1
1  2
2  3
3  4
4  5

In [4]:
lst = [[1, 2, 3, 4, 5], [11, 12, 13, 14, 15]]
df = pd.DataFrame(lst)
print(df)

    0   1   2   3   4
0   1   2   3   4   5
1  11  12  13  14  15

In [5]:
a = [{'a': 5, 'b': 7, 'c': 9, 'd': 2}, {'a':4, 'b':8, 'c':19, 'd':12}]

df = pd.DataFrame(a)
print(df)

   a  b   c   d
0  5  7   9   2
1  4  8  19  12

In [6]:
b = {'Rollno': pd.Series([1, 2, 3, 4, 5]),
     'Maths': pd.Series([67, 68, 69, 70, 71]),
     'Physics': pd.Series([12, 98, 99, 45, 47])}

df = pd.DataFrame(b)
print(df)

   Rollno  Maths  Physics
0       1     67       12
1       2     68       98
2       3     69       99
3       4     70       45
4       5     71       47

# Reading CSV (Comma Separated Values) as DataFrames

In [8]:
df = pd.read_csv(r'C:\Users\joyje\Documents\ML\currency.csv')
print(df)

    Code Symbol                      Name
0    AED    د.إ    United Arab Emirates d
1    AFN      ؋            Afghan afghani
2    ALL      L              Albanian lek
3    AMD    AMD             Armenian dram
4    ANG      ƒ  Netherlands Antillean gu
..   ...    ...                       ...
158  XOF    CFA    West African CFA franc
159  XPF     Fr                 CFP franc
160  YER      ﷼               Yemeni rial
161  ZAR      R        South African rand
162  ZMW     ZK            Zambian kwacha

[163 rows x 3 columns]

In [9]:
type(df)

pandas.core.frame.DataFrame

*** Part 3 ***